background-color{
    
}

#main{
    margin: 0 auto;
    border: 5px solid whitesmoke;
    border-radius: 5px;
    width: 100vh;
    display: flex;
}


#akan{
    background-color: beige;
    width: 
}

form{
    width: 60%;
}