

body{
    background-color: aquamarine;
}

header{
    background-color: #f1f9ec;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}

h1{
    padding: 30px;
}

#content{
    margin: 0 auto;
    width: 60%;
}

input[type=numbers]{
    height: 25px;
}

::placeholder{
    font-size: 15px;
    padding-left: 10px;
    color: brown;
}

section{
    display: flex;
}

img{
    width: 50vw;
    height: auto;
}