body{
    background-color: grey;
}

h1{
    text-align: center;
    margin: 0 auto;
    font-size: 5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 100%;
    border-radius: 10px;
}

.jumbotron{
    border-radius: 10px;
    margin-top: 5px;
}

input[type=number]{
    margin: 3px;
    border-radius: 5px;
    height: 40px;
}

input[type=reset]{
    margin: 3px;
    margin-left: 50px;
    font-size: 20px;
}

::placeholder{
    font-size: 15px;
    padding-left: 10px;
    color: brown;
}

#result{
    color:green;
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
}

article{
    background-color: #edf1fe;
    padding: 10px;
    font-weight: bold;
    color: darkgoldenrod;
    text-align: center;
}

/* 

body{
    background-color: aquamarine;
}

#content{
    margin: 0 auto;
    width: 60%;
}

header{
    margin: 0;
    background-color: #f1f9ec;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
}

h1{
    padding: 30px;
}

::placeholder{
    font-size: 15px;
    padding-left: 10px;
    color: brown;
}

form{
    color: green;
    margin: 20px;
}

input[type=number]{
    margin: 3px;
    border-radius: 5px;
    height: 40px;
}

input[type=reset]{
    margin: 3px;
    margin-left: 50px;
    font-size: 20px;
}

section{
    display: flex;
}

article{
    width: 60%;
    font-size: 2em;
    margin: 5px;
    background-color: aqua;
    padding: 1em;
    border-radius: 1em;
}

img{
    height: 20em;
} */